{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block head %}Virtual Hospital Limited{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicon -->
  <!--<link href="img/favicon.ico" rel="icon">-->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'doctor/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'doctor/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'doctor/css/style.css' %}" rel="stylesheet">
<!-- block for extra css file -->
{% block style %}
{% endblock %}
<!---->

  <!-- =======================================================
    Theme Name: Bell
    Theme URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <!-- Page Content
    ================================================== -->
  <!-- Hero -->
{% block hero %}

{% endblock %}
  <!-- Header -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="{% url 'doctors:home' %}">VHL</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
        <li><a href="{% url 'doctors:index' %}">Home</a></li>
          <li><a href="{% url 'doctors:departments' %}">Departments</a></li>
          <li><a href="{% url 'doctors:doctors_list' %}">Doctors</a></li>
          <li class="menu-has-children"><a href="">Important pages</a>
            <ul>
              <li><a href="#">Notices</a></li>
              <li class="menu-has-children"><a href="#">Important PDF</a>
                <ul>
                  <li><a href="#">Control Diabetes</a></li>
                  <li><a href="#">Keep your heart healthy</a></li>
                  <li><a href="#">Diet Charts</a></li>
                  <li><a href="#">Essential Exercises</a></li>
                  <li><a href="#">Top 10 things to remember</a></li>
                </ul>
              </li>
              <li><a href="#">Blood Bank Information</a></li>
              <li><a href="#">Become a blood donor</a></li>
              <li><a href="#">Be a volunteer</a></li>
            </ul>
          </li>
          <li><a href="{% url 'doctors:contact_us' %}">Emergency Help 24/7</a></li>
          <li><a href="{% url 'doctors:submitted' %}" style="font-size: large;" >Today's appointment list</a></li>

        </ul>
      </nav>
      <!-- #nav-menu-container -->

      <nav class="nav social-nav pull-right d-none d-lg-inline">
        <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a> <a href="https://facebook.com/"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
      </nav>
    </div>
  </header>
  <!-- #header -->

  {% block body %}
  {% endblock %}


  <!-- footer -->
  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-left text-center">
            <p class="copyright-text">
              © Virtual Hospital Limited
            </p>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bell
              -->
             Designed by <a href="https://www.linkedin.com/in/prodipkumar10075/">Prodip Kumar Sorkar</a><br>
                <a href="{% url 'doctors:index' %}admin/">For staffs only</a>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="{% url 'doctors:index' %}">Home</a>
              </li>

              <li class="list-inline-item">
                <a href="{% url 'doctors:index' %}">About Us</a>
              </li>

              <li class="list-inline-item">
                <a href="{% url 'doctors:departments' %}">Departments</a>
              </li>

              <li class="list-inline-item">
                <a href="{% url 'doctors:doctors_list' %}">Doctors</a>
              </li>

              <li class="list-inline-item">
                <a href="{% url 'doctors:contact_us' %}">Contact</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>
  <!-- /footer -->

  <!-- Required JavaScript Libraries -->
  <script src="{% static 'doctor/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'doctor/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'doctor/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'doctor/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'doctor/lib/tether/js/tether.min.js' %}"></script>
  <script src="{% static 'doctor/lib/stellar/stellar.min.js' %}"></script>
  <script src="{% static 'doctor/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'doctor/lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'doctor/lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'doctor/lib/easing/easing.js' %}"></script>
  <script src="{% static 'doctor/lib/stickyjs/sticky.js' %}"></script>
  <script src="{% static 'doctor/lib/parallax/parallax.js' %}"></script>
  <script src="{% static 'doctor/lib/lockfixed/lockfixed.min.js' %}"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="{% static 'doctor/js/custom.js' %}"></script>
<!--
  <script src="contactform/contactform.js"></script>
-->
</body>
</html>
