{% extends 'doctor/base.html' %}
{% load static %}

{% block body %}
  <!-- Team -->

  <section class="team" id="team">
    <div class="container">
      <h2 class="text-center">
          Meet our Doctors
        </h2>

      <div class="row">
{% for items in doctors %}
        <div class="col-sm-3 col-xs-6">

          <div class="card card-block">
            <a href="{% url 'doctors:doctor_details' items.Name %}"><img alt="" class="team-img" src="{{ items.Image.url }}">
              <div class="card-title-wrap">
                <span class="card-title">{{ items.Name }}</span> <span class="card-text">{{ items.Specialized }}</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Click to learn more
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
            </nav>

            <p>
              A world class {{ items.Specialized }}
            </p>
          </div>
          </a>
        </div>
      </div>
{% endfor %}

    </div>
    </div>
  </section>
  <!-- /Team -->
{% endblock %}